<div class="row">
    <div id="feels-tree">
    </div>

    <!-- </div>
    <div class="text-center col-sm-6 positive"><a>Positive!</a></div>
    <div class="text-center col-sm-6 negative"><a>Negative!</a></div>
    <div class="posFeels hidden"><ul>
      <% @feelings["POSITIVE"].keys.each do | category | %>
      <a href="#"><li class="feel" data-id="<%= current_user.id %>"><%= category %></li></a>
      <% end %>
    </ul></div>
    <div class="negFeels hidden">
      <ul>
        <% @feelings["NEGATIVE"].keys.each do | category | %>
          <li>
            <a href="" class="category">
            <div>
              <%= category %>
            </div>
            <ul class="category-list hidden">
              <% @feelings["NEGATIVE"][category].each do |feel| %>
                <a href="">
                  <li class="feel" data-id="<%= current_user.id %>"><%= feel %></li>
                </a>
              <% end %>
            </ul>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
</div>
</div>

<script>
  feels_tree
</script>


<%= "#{Rails.env}" %>
<script>
$(document).ready(function(){
$('.positive').on('click', function(){
  $('.posFeels').removeClass("hidden");
  if(!$('.negFeels').hasClass("hidden")){
    $('.negFeels').addClass("hidden");
  }
});
$('.negative').on('click', function(){
  $('.negFeels').removeClass("hidden");
  if(!$('.posFeels').hasClass("hidden")){
    $('.posFeels').addClass("hidden");
  }
});
$('.feel').on('click', function(e){
  e.preventDefault();
  var feeling = $(e.target).html();
  console.log({feel: feeling});
  $.post('/feels', { feel: {feel: feeling, user_id: 4}}, function(data){
    console.log(data);
  });
});
$('.category').on('click', function(e){
  e.preventDefault();
  console.log($(this));
  console.log($(this).next());
  $(this).next('.category-list').removeClass('hidden');
});
});
</script> -->
<script src="http://d3js.org/d3.v3.min.js"></script>
