<h2>The Weatherrrrrr</h2>

<br>
Location:
<%= @forecast.location %>
<br>
Conditions:
<%= @forecast.conditions %>
<br>
Time:
<%= Time.now %>
<br>
Date:
<%= Date.today %>
<br>
Sunrise:
<%= @forecast.sunrise %>
<br>
Sunset:
<%= @forecast.sunset %>
<br>
