<!DOCTYPE html>
<html>
<head>
  <title>EWR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container-fluid index">
    <div class="row">
      <nav id="user_nav">
        <ul>
          <li><%= link_to "Home", "/" %></li>
          <% if user_signed_in? %>
          <li>Hello, <%= current_user.name %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign Up", "/users/sign_up" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="row">
      <!-- <%= react_component 'Forecasts', { data: @forecast } %> -->
      <%= react_router 'MyRoutes', 'HistoryLocation', {data: @forecast} %>
      <!-- <%= yield %> -->
    </div>
  </div>
<%= "#{Rails.env}" %>
</body>
</html>
