<!DOCTYPE html>
<html>
<head>
  <title>EWR</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container-fluid index">


    <div class="row">
      <div id="nav"></div>
    </div>
    <div class="row">
    <%= yield %>
  </div>
  </div>
  <%= webpack_manifest_script %>
  <%= javascript_include_tag 'modernizr' %>
  <%= webpack_bundle_tag 'common' %>
  <%= webpack_bundle_tag 'main' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
